.movie-data-table-wrapper {
  margin: 10px;
  box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-top: 20px;
}
.row-edit-table {
  cursor: pointer;
}
.row-edit-table:hover {
  transform: scale(1.5);
  -moz-box-shadow: 1px 0px 26px 1px rgba(0, 0, 0, 0.75);
  transition-duration: 0.4s;
}
.row-edit-table:hover {
  transition-duration: 0.4s;
}
